<!DOCTYPE html>
<html ng-app="App" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="my.css"/>
    <link rel="icon" type="image/png" href="@.png"/>
    <title>@TestTrend</title>

    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">

    <!-- it's important for d3.js -->
    <meta charset="utf-8">

    <!-- include bower components in proper order -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/elasticsearch/elasticsearch.angular.js"></script>

    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/nvd3/build/nv.d3.js"></script>
    <script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
    <link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.css">

    <script src="bower_components/tree-grid-directive/src/tree-grid-directive.js"></script>
    <link rel="stylesheet" href="bower_components/tree-grid-directive/src/treeGrid.css">

    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>

    <link rel="stylesheet" href="bower_components/angular-advanced-searchbox/dist/angular-advanced-searchbox.min.css">
    <script src="bower_components/angular-advanced-searchbox/dist/angular-advanced-searchbox-tpls.js"></script>

    <script src="bower_components/angular-smart-table/dist/smart-table.js"></script>

    <!-- MINE -->
    <script src="app.js"></script>

    <!-- module -->
    <script src="testcase/testcase.js"></script>
    <script src="testcases/testcases.js"></script>
    <script src="master_detail/panes.js"></script>
    <script src="dashboard/dashboard.js"></script>
    <script src="server/rest.js"></script>
    <script src="nav/nav.js"></script>
    <script src="defects/defects.js"></script>
    <script src="defects/defect.js"></script>

    <link rel="stylesheet" href="allure.css">
    <link rel="stylesheet" href="my.css">
</head>
<body style="overflow: auto">

<nav></nav>

<panes ng-init="selected = { full_name: null, show_testcases: false, show_defects: false, full_name_log: null }">
    <pane title="Blackbird">
        <dashboard></dashboard>
    </pane>
    <pane title="Tests" ng-if="selected.show_testcases" onclose="selected.show_testcases = false">
        <Testcases></Testcases>
    </pane>
    <pane title="Product Defects" ng-if="selected.show_defects" onclose="selected.show_defects = false">
        <Defects></Defects>
    </pane>
    <pane title="Defect" ng-if="selected.defect" onclose="selected.defect = null">
        <Defect></Defect>
    </pane>
    <pane title="TestCase" ng-if="selected.full_name" onclose="selected.full_name = null">
        <Testcase></Testcase>
    </pane>
    <pane title="Log" ng-if="selected.full_name_log" onclose="selected.full_name_log = null">
        {{selected.full_name_log}}
    </pane>
</panes>

</body>
</html>