<!DOCTYPE html>
<html ng-app="App" >
<head>
    <link rel="icon" type="image/png" href="@.png" />
    <title>@TestTrend</title>

    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">

    <!-- it's important for d3.js -->
    <meta charset="utf-8">

    <!-- include bower components in proper order -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/elasticsearch/elasticsearch.angular.js"></script>

    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/nvd3/build/nv.d3.js"></script>
    <script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
    <link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.css">

    <script src="bower_components/tree-grid-directive/src/tree-grid-directive.js"></script>
    <link rel="stylesheet" href="bower_components/tree-grid-directive/src/treeGrid.css">

    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>

    <!-- MINE -->
    <script src="app.js"></script>
    <script src="myd3.js"></script>
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="allure.css">
</head>
<body style="overflow: auto">
<div ng-controller="ExampleController" class="container" >
    <h1>@TestTrend</h1>

    <br/>

    <div style="width: 100%" align="right">
        <div class="btn-group" align="right">
            <label class="btn btn-primary" ng-model="statusModel.broken" uib-btn-checkbox>Broken</label>
            <label class="btn btn-primary" ng-model="statusModel.passed" uib-btn-checkbox>Passed</label>
            <label class="btn btn-primary" ng-model="statusModel.canceled" uib-btn-checkbox>Canceled</label>
            <label class="btn btn-primary" ng-model="statusModel.pending" uib-btn-checkbox>Pending</label>
            <label class="btn btn-primary" ng-model="statusModel.failed" uib-btn-checkbox>Failed</label>
        </div>
    </div>

    <nvd3 options="options" data="bar_data" api="api"></nvd3>

    <div ng-if="error" class="alert alert-danger" role="alert">{{error.message}}</div>
    <tree-grid tree-data="tree_data" col-defs="col_defs" on-select="my_select(branch)"  on-click="my_click(branch)" ></tree-grid>
    <div ng-if="log" class="alert alert-danger" role="alert">{{log}}</div>

    <pre>{{tc | json}}</pre>
    <pre>{{rae | json}}</pre>
    <pre>{{ac | json}}</pre>
</div>
</body>
</html>