.a-project {
    box-shadow: 1px 1px 5px #888888;
    padding: 0px 9px;
}

.gape {
    padding: 3px;
}

.dashboard > .tab-content > .tab-content-fill {
    left: 20px;
}

.pane_col_first .pane__header_controls {
    display: none;
}

.navbar {
    border-radius: 0px;
    border-top: 1px solid gray;
}

.pane_col {
    border-top: 1px solid lightgray;
    border-left: 1px dotted lightgray;
}

.pane_col_first {
    border-left: 1px solid lightgray;
}

.b-island {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 0 0 0px rgba(0,0,0,0.1),0 0px 0px 0px rgba(0,0,0,0.14);
    border-radius: 0;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
}