<div>
    <Statuses></Statuses>

    <div class="gape"></div>

    <nvd3 options="options" data="bar_data" api="api"></nvd3>

    <div class="gape"></div>

    <div class="row">
        <div class="col-sm-12">
            <nit-advanced-searchbox
                    ng-model="searchParams"
                    parameters="availableSearchParams"
                    placeholder="Search...">
            </nit-advanced-searchbox>
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->

    <label class="btn btn-default btn-status-passed btn-sm"
           ng-click="selected.show_testcases = !selected.show_testcases; selected.show_defects = false">
        {{selected.show_testcases? 'Hide': 'Show'}} tests...
    </label>

    <label class="btn btn-default btn-status-failed btn-sm"
           ng-click="selected.show_defects = !selected.show_defects; selected.show_testcases = false">
        {{selected.show_testcases? 'Hide': 'Show'}} Defects...
    </label>

    <div class="gape"></div>

    <div ng-if="log" class="alert alert-danger" role="alert">{{log}}</div>
    <pre>{{all_status_model | json}}</pre>
    <pre>{{drill | json}}</pre>
    <pre>{{tc | json}}</pre>
    <pre>{{rae | json}}</pre>
    <pre>{{ac | json}}</pre>
    <div ng-if="error" class="alert alert-danger" role="alert">{{error.message}}</div>
</div>